:root {
--vp-c-brand-1: #84A2AE;
--vp-c-brand-2: #4E8EB9;
--vp-c-brand-3: #84A2AE;
}

.custom-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 2rem auto 0;
}
.custom-layout .btn {
  background-color: var(--vp-button-brand-bg);
  color: var(--vp-button-brand-text);
  border-radius: 20px;
  padding: 0.5rem 1.4rem;
}
